.menu-box {
    border: 2px solid #F48516;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis;
  }
  .menu-box-active {
    background-color: #F48516;
    color: #fff;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .profile-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(139, 72, 72);
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
  }
  
  .avatar-section {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 40px 100px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Réduit la largeur maximale */
  }
  
  .avatar-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .avatar-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .option-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .option-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  

  .menu-box:hover {
    background-color: #F48516D2;
    color: #fff;
  }

  .custom-input {
    border: 2px solid #F48516;
  }

  .footer-link{
    cursor: pointer;
  }